<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-ligth fixed-top " style="background-color:black">
  <a class="navbar-brand" href="">Adventure</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="na-item">
            <a class="nav-link">Hi {{ user.username }}</a>
        </li>

      <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
      </li>


        <li class="nav-item">

        <a class="nav-link" href="accounts/login">login</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="accounts/sign">Sign</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="accounts/logout">Logout</a>
      </li>


      </li>
        <form>
       <a class="form-inline ">

           <a href="#" class="btn btn-dark ">New Post</a>
     </form>
      {% else %}
       <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>

    {% endif%}
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Explore Adventure Tours</h1>
    <p class="lead">TLive incredible adventures and have the most relaxing moments..</p>
  </div>
</div>


<script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</script>
</body>



{% block content %}

{% endblock content %}



</body>
</html>