{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

{% block content %}
<style>
img
    {
        width:35%;
        heigth:30%;
    }
    h1
    {
        padding:40px;
        margin:30px;
    }
    input
    {
        width:50%;
        height:10%;
    }
    .post-entry
    {
        padding:10px;
        margin:20px;
    }
    .image-blog
    {
        padding:20px;
        width:100%;
        margin:10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">

        {% for post in object_list %}
            <div class="post-entry">
                <h3><a href="#">{{post.title}}</a> </h3><br><br>
                <div class="image-blog">
                    <img src="{{post.image.url}}">
                </div>
                               <p>{{post.body}}</p>

            </div>
        </div>
            <div class="col-md-5">
             <a href="#">Add Comment</a>
                <input type="text" {{post.comment}} placeholder="Comment..!"><br><br>
            <strong>{{post.date}}</strong>
            <p>{{post.comment}}</p>
            <button type="submit" class="btn btn-dark">Send</button>
            <br>
            <br>
            <form method="post" class="ui form">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.id}}">
                {% if user not in post.liked.all %}
                    <button type="submit" class="btn-btn-success">Like</button>
                {% else%}
                    <button type="submit" class="btn btn-danger">Unlike</button>
                {% endif%}
            </form>
            <strong>{{post.liked.all.count}}likes</strong>
            </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}




<script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>



</body>
</html>